<h1> <span>Mi Curriculum Vitae</span></h1>
    <p class="big"><span>Nombre</span>: Raúl Jiménez Ortega</p>
    <p class="big"><span>Lugar de nacimiento</span>: Málaga</p>
    <p>Fecha de nacimiento: 11/03/1984</p>

    <h1 id= "segundo">
        Ejemplo con etiquetas básicas
    </h1>
    <a href="#abajo" >Ir abajo</a>
    <h2> Segundo titulo puesto por mi</h2> <!-- aqui defino mi etiqueta -->
    <p>
    Este ejemplo muestra cómo combinar algunas de las etiquetas más básicas de HTM
    L5. <br><br>
    Recuerda que <strong>es importante entender la diferencias entre ellas</strong>
    .
    </p>
    <h2>Etiqueta ul+li</h2>
    <p>
    Si listamos personas nominadas a los Oscars, dado que el orden no altera el si
    gnificado, debemos usar <em>ul</em>.
    </p>
    <ul>
    <li>David Verdaguer</li>
    <li>Jesús Castro</li>
    <li>Israel Elejalde</li>
    <li>Dani Rovira</li>
    </ul>
    <h2>Etiqueta ol+li</h2>
    <p>
    En el caso de que estemos listando elementos donde el orden es importante, com
    o por ejemplo la clasificación de un mundial de fútbol, debemos usar <em>ol</em>.
    </p>
    <ol>
    <li>España</li>
    <li>Países Bajos</li>
    <li>Alemania</li>
    <li>Uruguay</li>
    </ol>

